@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Google Map Selector</title>
    <script src="http://maps.googleapis.com/maps/api/js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/webber-gmap-location.js"></script>
</head>
<body>
    <div>
        <input type="text" name="gpsLocation" class="webber-gmap-location" />
    </div>
</body>
</html>
